# Java / Spring Boot
**/target/
*.class
*.jar
*.war

**/HELP.md

# IntelliJ
.idea/
**/.idea/
*.iml

# Maven
.mvn/timing.properties

# React / React Native
**/node_modules/
**/dist/
**/build/

# React Native Android
**/android/.gradle/
**/android/build/
**/android/app/build/
**/android/.cxx/
**/android/app/.cxx/
**/android/local.properties

# React Native Expo
**/.expo/

# Environment files
.env
.env.*
!.env.example